
  
  /* For pdf */
  .react-pdf__Page {
    margin-top: 10px;
  }
   
  .react-pdf__Page__annotations.annotationLayer {
    padding: 10px;
  }


  
  .react-pdf__Page__canvas {
    margin: 0 auto;
  }
  
  /* For all pages */
  .all-page-container {
    height: 100%;
    max-height: 413px;
    overflow: auto;
  }
  